<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ExeCute.myapplication">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Book12_Seepage_and_Soil_Permeability"></activity>
        <activity android:name=".Book11_Terms" />
        <activity android:name=".Book10_Transmissivity" />
        <activity android:name=".Book9_Permeability" />
        <activity android:name=".Book8_Field_Determination_of_Permiability" />
        <activity android:name=".Book7_Aquifers_and_Groundwater" />
        <activity android:name=".Book6_Aquifers" />
        <activity android:name=".Book5_Computation_of_Permeability_by_Falling_Head" />
        <activity android:name=".Book4_Discharge_Velocity" />
        <activity android:name=".UnconfinedAquiferActivity" />
        <activity android:name=".EquivalentHorizontalActivity" />
        <activity android:name=".TransmissivityActivity" />
        <activity android:name=".LeakageFactorActivity" />
        <activity android:name=".EquivalentVerticalConductivityActivity" />
        <activity android:name=".EquivalentHorizontalConductivityActivity" />
        <activity android:name=".AquiferActivity" />
        <activity android:name=".AbsolutePermeabilityActivity" />
        <activity android:name=".EquivalentHorizontal" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".EquivalentVerticalActivity" />
        <activity android:name=".ConstantHeadActivity" />
        <activity android:name=".FallingHeadActivity" />
        <activity android:name=".SeePageVelocityActivity" />
        <activity android:name=".FlowRateActivity" />
        <activity android:name=".DischargeVelocityActivity" />
        <activity android:name=".HydraulicGradientActivity" />
        <activity android:name=".FormulaActivity" />
        <activity android:name=".Book3" />
        <activity android:name=".Book2" />
        <activity android:name=".Book1" />
        <activity android:name=".DiscussionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ExeCute.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>